<% if @books.length.positive? %>
    <div class='p-3 d-flex justify-content-around'>
        <% @books.each do |book| %>
        <div class='card' style='width: 18rem'>

          <%# Check if instance has a an isbn to use in image search  %>
          <% if book.isbn != nil %>
            <%= image_tag "http://covers.openlibrary.org/b/isbn/#{book.isbn}-L.jpg", alt: "alttext", class: "card-img-top"%>
          <% else %>
            <%= image_tag 'cover.jpg', class: "card-img-top" %>
          <% end %>

            <div class='card-body'>
                <h4><%= book.title %></h4>
                <h4><%= book.author %></h4>
                <p>Rating: <%= book.rating %></p>
                <%= link_to 'More details', book_path(book), class: 'btn btn-outline-secondary' %>
                <%= link_to 'Delete', book_path(book), method: :delete, data: { confirm: "Confirm?" }, class: 'btn btn-outline-danger' %>
            </div>
        </div>
        <% end %>
    </div>
<% else %>
    <h2>Sorry, you haven't saved any books yet!</h2>
<% end %>