<div class='container p-3 d-flex justify-content-between'>
    <div class='card' style='width: 40vh'>

        <%# Check if instance has a an isbn to use in image search  %>
          <% if @book.isbn != nil %>
            <%= image_tag "http://covers.openlibrary.org/b/isbn/#{@book.isbn}-L.jpg", alt: "alttext", class: "card-img-top"%>
          <% else %>
            <%= image_tag 'cover.jpg', class: "card-img-top" %>
          <% end %>
        
        <div class='card-body'>
            <h4><%= @book.title %></h4>
            <h4><%= @book.author %></h4>
            <p>Rating: <%= @book.rating %></p>
            <%= link_to 'Back to my books', books_path, class: 'btn btn-dark' %>
        </div>
    </div>
    <div class='card w-75 p-3'>
        <h3 class='my-3'>My notes...</h3>
        <hr>
        <div class='my-3'>
            <p>Book synopsis and notes here...</p>
            <p>Book synopsis and notes here...</p>
            <p>Book synopsis and notes here...</p>
            <p>Book synopsis and notes here...</p>
            <p>Book synopsis and notes here...</p>
            <p>Book synopsis and notes here...</p>
            <p>Book synopsis and notes here...</p>
        </div>
    </div>
</div>